@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: black;
  margin: 0;
  padding: 0;
  padding-top: 0px;
}
