@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #222831;
  margin: 0;
  padding: 0;
}

.color-theme-1 {
  color: #00adb5;
  background-color: #222831;
}

.color-theme-2 {
  color: #00adb5;
  background-color: #393e46;
}

.color-theme-3 {
  color: #eeeeee;
  background-color: #00adb5;
}

.color-theme-4 {
  color: #393e46;
  background-color: #00adb5;
}

.color-theme-5 {
  color: #222831;
  background-color: #00adb5;
}

.color-theme-6 {
  color: #222831;
  background-color: #eeeeee;
}

.color-theme-7 {
  color: #393e46;
  background-color: #eeeeee;
}

.color-theme-8 {
  color: #eeeeee;
  background-color: #222831;
}

.color-theme-9 {
  color: #eeeeee;
  background-color: #393e46;
}

/*
  cyan: 00ADB5
  white: EEEEEE
  dark grey: 393E46
  black: 222831  
*/
