@media screen and (min-width: 1000px) {
    .brand{
        border: none;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .navlogo{
        width: 60px;
        object-fit: contain;
        border-radius: 10%;
      }
}

@media screen and (max-width: 1000px) {
    .brand{
        border: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        margin-left: 1rem;
        padding-inline: 2rem;
      }

      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .navlogo{
        width: 60px;
        object-fit: contain;
        border-radius: 10%;
      } 
}

@media screen and (max-width: 380px) {
    .brand {
        max-width: 70%;
        margin-left: 10px;
        padding-left: 12px;
        padding-right: 12px;
        display: inline-block;
        text-overflow: clip;
        overflow: hidden;
        transform-origin: left center;
      }
}


