@media screen and (min-width: 1000px) {
  .devaralogo{
    display: block;
    width: 100%;
    border-radius: 50px;
  }

  .home-container{
    width: 100%;
  }

  .logo-container{
    padding: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .devaralogo{
    display: block;
    width: 100%;
    border-radius: 50px;
  }

  .home-container{
    width: 100%;
  }

  .logo-container{
    padding: 5%;
  }
}
