@media screen and (min-width: 1000px) {
    .about-container{
        display: flex;
        color: white;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      
      .about-image{
        width: 33%;
        object-fit: contain; 
        border-radius: 20px;
      }
    
      .about-text{
        flex: 1;
        padding-left: 30px;
      }
}

@media screen and (max-width: 1000px) {
    .about-container{
        margin-top: 80px;
        display: block;
        color: white;
        overflow: hidden; 
        align-items: center;
        justify-content: center;
      }
      
      .about-image{
        max-width: 90%;
        object-fit: cover; 
        border-radius: 45px;
        margin-left: 5%;
      }
      
      .about-text{
        margin-left: 5%;
        margin-right: 5%;
      }
}
