@media screen and (min-width: 1000px) {
    .about-container{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about-image-container{
        padding: 1%;
        width: 30%;
      }

      .about-image{
        border-radius: 50px;
        object-fit: cover;
        width: 100%;
      }
    
      .about-text{
        flex: 1;
        padding-left: 30px;
        color: white;
      }
}

@media screen and (max-width: 1000px) {
    .about-container{
        margin-top: 80px;
        display: block;
        overflow: hidden; 
        align-items: center;
        justify-content: center;
      }
      
      .about-text{
        margin-left: 5%;
        margin-right: 5%;
        color: white;
      }
}
